<% include partials/header %>

<h1>Books</h1>

<a href="/books/new">Add a book</a>

<p>Books</p>
<% books.forEach(function(book){ %>
    <div>
        <h4><%=book.author%></h4>
        <img src="<%=book.image%>" width="100" />
    </div>
<% }); %>

<% include partials/footer %>